{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Pet Penguin</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <div class="header">
        <h1>Welcome to Pet Penguin!</h1>
        <div class="button-bar">
          <a href="{% url 'login' %}"><div class="i-button">Log In</div></a>  
          <a href="{% url 'register' %}"><div class="i-button">Register</div></a> 
        </div>
      </div>
      <div class="button-bar"><img src="{% static 'penguin.png' %}" width="10%"></div>
      <div class="button-bar"><a class="about" href="{% url 'about' %}">about us</a></div>
    </main>
	<script src="{% static 'index.js' %}"></script>
  </body>
</html>