{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Penguin</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>

<body>
    <main>
      <div class="header">
<h1>login</h1>

<form action="" method="POST">
    {% csrf_token %}
    <input name="username" type="text" label="usernake">
    <input name="password" type="password" label="password">
    <button type="submit" class="i-button">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>

</main>
<script src="{% static 'index.js' %}"></script>
</body>
</html>